<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="MyDbConn"
			 connectionString="Server=dlhivietnam.database.windows.net;Database=MPR_Management;User ID=DLHI_Admin;Password=Hoangquyen@1905;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
		<!--<add name="MyDbConn" connectionString="Server=DESKTOP-KD2BPDJ;Database=SQLTesting_V1;User ID=sa;Password=Aa123456@;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />-->
	</connectionStrings>

	<appSettings>
		<!--<add key="Manager" value="phamh"/>-->

		<!--<add key="Assistant" value="TUAN DAT"/>-->

		<add key="Device_Name" value="TUAN DAT"/>

		<!--<add key="Device_Name" value="phamh"/>-->

		<add key="PO_App_Path" value="C:\Users\{{PC-NAME}}\OneDrive\Working\Backup\Revise_PO_WindowForm\Revise_PO_Form\Revise_PO_Form\bin\Debug\Revise_PO_Form.exe" />

		<add key="MPR_App_Path" value="C:\Users\{{PC-NAME}}\OneDrive\Working\Backup\Revise_MPR_WindowForm\Revise_MPR_Form\Revise_MPR_Form\bin\Debug\Revise_MPR_Form.exe" />

		<add key="Excel_Path" value="C:\Users\{{PC-NAME}}\OneDrive\Working\SQLTesting.xlsm" />

		<add key="FinalProject_Path" value="C:\Users\{{PC-NAME}}\OneDrive\Working\Final PO List of All Project.xlsm" />

		<add key="Backup_Folder_Path" value="C:\Users\{{PC-NAME}}\OneDrive\Working\Backup\db_backup" />

	</appSettings>
	
</configuration>