<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Krypton.Navigator" version="100.26.1.19" targetFramework="net48" />
  <package id="Krypton.Ribbon" version="100.26.1.19" targetFramework="net48" />
  <package id="Krypton.Toolkit" version="100.26.1.19" targetFramework="net48" />
  <package id="Krypton.Workspace" version="100.26.1.19" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Excel" version="16.0.18925.20022" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
</packages>